<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Contact Me</h2>
				<hr class="star-primary contact">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p>Chances are you already have my contact info - But if you don't and want to get in touch, feel free to send me a PM through one of the various social networks listed below.</p>
				<p>You can also take a look to my full <a href="assets/cv/andy_resume.html" target="_blank" class="btn-social-dark btn-outline-dark">resume <i class="fa fa-1x fa-fw fa-file"></i></a></p>
                <hr>
				<ul class="list-inline">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn-social-dark btn-outline-dark"><i class="fa fa-3x fa-fw fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
             
			</div>
		</div>
	</div>
</section>
